// Миксины позволяют создавать группы деклараций CSS, которые вам придется использовать по нескольку раз на сайте.
// Вы даже можете передавать переменные в миксины, чтобы сделать их более гибкими.
// Чтобы создать mixin, используйете директиву @mixin и даете ей имя.

//стиль для кнопок
//принимает в себя цвет, который кнопка принимает при нажатии
@mixin button($color: green) {
  height: 26px;
  min-width: 26px;
  padding: 3px;
  text-align: center;
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, .7);
  //стиль для иконок
  & i {
    font-size: 24px;
  }
  //стиль при наведении
  & :hover {
    background: #eee;
    cursor: pointer;
  }
  //стиль при нажатии
  & :active, .active {
    color: $color;
  }
}

@mixin clear-list() {
  list-style: none;
  padding: 0;
  margin: 0;
}