//Переменные для css
// Вы можете хранить в переменных цвета, стеки шрифтов или любые другие значения CSS, которые вы хотите использовать.
// Чтобы создать переменную в Sass нужно использовать символ $.
$header-height: 42px;
$border-color: #c0c0c0;
$toolbar-height: 40px;
$formula-height: 40px;
$info-cell-width: 40px;
$row-height: 28px;
$cell-width: 100px;